.App{
    width: 50%;
    margin: auto;
}

button{
    width: 25%;
    height: 60px;
    font-size: 30px;
    /* background-color: white; */
}

.displayBar{
    height: 150px;
    background-color: black;
    text-align: right;
    padding: 20px;
    margin-bottom: 10px;
}

.displayBar p,h1{
    color: white;
}

